.widefat .column-order_title {
    width: 10%!important;
}
table.wp-list-table .column-order_items {
    width: 8%!important;
}

.widefat .column-order_actions {
    width: 7%!important;
}

.column-shipping_address {
    width: 12%;
}

.column-billing_address {
    width: 12%;
}

.column-shipping_state {
    width: 5%;
}

.column-shipping_city {
    width: 5%;
}

.file-upload {
    margin-left: 5px;
    display:block;
    width:145px;
    height:30px;
    border-radius: 3px;
    background-color:rgba(0,0,0,0.3);
    font-size: 14px;
    color:white;
    text-align: center;
    line-height: 26px;
}

.file-upload input {
    opacity: 0;
    position: absolute;
    width: 145px;
    height: 30px;
    display: block;
    cursor: pointer;
}